<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.skillnav.auto-translate</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/node</string>
		<string>/Users/apple/WeChatProjects/skillnav/scripts/auto-translate-radar.mjs</string>
	</array>
	<key>WorkingDirectory</key>
	<string>/Users/apple/WeChatProjects/skillnav</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>22</integer>
		<key>Minute</key>
		<integer>0</integer>
	</dict>
	<key>StandardOutPath</key>
	<string>/tmp/skillnav-auto-translate.log</string>
	<key>StandardErrorPath</key>
	<string>/tmp/skillnav-auto-translate.log</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/usr/local/bin:/usr/bin:/bin</string>
	</dict>
</dict>
</plist>
